.App {
  text-align: center;
}

img {
  width: 200px;
}

.input {
  
}

.profile {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "title title"
    "image info";
  width: 50%;
  margin: 0 auto;
  padding-top: 5%;
}

.title {
  grid-area: title;
}

.image {
  grid-area: image;
}

.info {
  grid-area: info;
}

.profile p {
  text-align: left;
}
